.skin-blue .main-header .logo {
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  background-color: #a1cdbc;
  color: #000000;
} 

.skin-blue .main-header .logo:hover {
  background-color: #a1cdbc;
}

.home {
 color: #000000;
}

.home:hover {
 cursor: pointer; 
 color: #000000;
}

.home:visited {
  color: #000000;
}

#homeclick {
  color: #000000;
}

.skin-blue .main-header .navbar {
  background-color: #a1cdbc;
  width: 100%;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #a1cdbc;
  color: #000000;
  display: none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #a1cdbc;
  color: #000000;
}  

.content-wrapper {
  background-color: #ffffff;
}

.tab-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer {
  position:fixed;
  bottom: 0;
  width:100%;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  z-index: 1000;
  text-align: center;
}

#start-text {
  width: 650px;
}

.btn {
  background-color: #a1cdbc;
  color: #000000;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  width: 180px;
  margin-top: 20px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #efefef;
  color: #a6a6a6;
  cursor: not-allowed;
}

.btn:hover:not([disabled]) {
  background-color: #7fad9b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(-0.25em);
}

#box-button-left {
  text-align: left;
}

#box-button-right {
  text-align: right;
}

#box-button-left1 {
  text-align: left;
}

#box-button-right1 {
  text-align: right;
}

#box-button-left2 {
  text-align: left;
}

#box-button-right2 {
  text-align: right;
}

.return-button {
  background-color: #a6a6a6;
}

.return-button:hover:not([disabled]) {
  background-color: #7b7a81;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(-0.25em);
}  

.form-control {
  text-align: center;
}

.btn-file {
  background-color: #efefef;
  width: 100%;
  margin-top: 0;
  font-size: 14px;
  border-radius: 0;
  font-weight: normal;
  border: 1px solid #d2d6de;
}

.btn-file:hover:not([disabled]) {
  background-color: #efefef;
  box-shadow: none;
  transform: none;
}

.progress-bar {
  background-color: #a1cdbc;
}

.well {
  min-width: 200px;
}

#map_visualization {
  min-width: 800px;
}

#box-button-return-select2 {
  text-align: right;
}

#box-button-go-prediction {
  text-align: left;
}
